/*-- CSS Reset --*/
*{
    padding: 0; 
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

body{
    background: #F9F4F5;
    color: #000000; 
    font-family: futura-pt,sans-serif;
    font-weight: 500;
    font-style: normal;
}